{% extends "master.twig" %}

{% block content %}
  <div class="column" >
    <h1>Anime</h1>
    <div class="marketing" ng-controller="LoadingController as loadCtrl">
        {% if single == true %}
            {% if anime is empty %}
                <p>
                    There is nothing here at the moment. Possibly because there was
                    never anything here to begin with, or because everything has gone
                    and broken into a million pieces.
                </p>
                <p>
                    I'll leave it up to you to decide that.
                </p>
            {% else %}
                <div class="row row_fix">
                    <div class="col-lg-4 col-lg-push-8">
                        <div class="anime">
                            <img class="small_cover img-thumbnail" src="{{ anime.cover }}"
                                 alt="{{ anime.title }}" />
                            <p class="text-right">{{ anime.status }}</p>
                            <p class="text-right">Score: {{ anime.score }}/10</p>
                            <a href="http://myanimelist.net/anime/{{ anime.anime_id }}">
                                <img class="" src="./assets/images/mal-logo-xsmall.png"
                                     alt="MyAnimeList.net link" />
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-8 col-lg-pull-4">
                        <h2>{{ anime.title }}</h2>
                        <p>{{ anime.synopsis | raw }}</p>
                        {% if anime.comments is not empty %}
                            <h2>My Thoughts</h2>
                            <p>{{ anime.comments | raw }}</p>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        {% else %}

            <nav>
                <ul class="nav nav-justified">
                    <li><a href="/anime/all">All</a></li>
                    <li><a href="/anime/seen">Seen</a></li>
                    <li><a href="/anime/watching">Watching</a></li>
                    <li><a href="/anime/held">On Hold</a></li>
                    <li><a href="/anime/dropped">Dropped</a></li>
                    <li><a href="/anime/planned">Planned</a></li>
                </ul>
            </nav>

            <div class="booster"></div>

            {% if anime is empty %}
                <p>
                    There is nothing here at the moment. Possibly because there was
                    never anything here to begin with, or because everything has gone
                    and broken into a million pieces.
                </p>
                <p>
                    I'll leave it up to you to decide that.
                </p>
            {% else %}
                {% for a in anime %}
                    {% if loop.index0 % 3 == 0 %}
                        <div class="row row_fix">
                    {% endif %}
                    <div class="col-lg-4">
                        <div class="anime">
                            <a href="./anime/{{ a.anime_id }}">
                                <img class="small_cover img-thumbnail" src="{{ a.cover }}" alt="{{ a.title }}" />
                                <p class="anime_title">{{ a.title }}</p>
                            </a>
                            <p class="anime_status">{{ a.status }}
                            <span class="pull-right">Score: {{ a.score }}</span></p>
                        </div>
                    </div>
                    {% if not loop.index % 3 or loop.last %}
                        </div>
                    {% endif %}
                {% endfor %}

                <div ng-hide="loadCtrl.checkContentEmpty()" >
                    <!--<anime-template ng-repeat="a in loadCtrl.getAnime()"></anime-template>-->
                    <anime-template ng-repeat="n in [].constructor(loadCtrl.getContent().length) track by $index"></anime-template>
                </div>

                <button class="load_more btn btn-primary btn-lg btn-block"
                        ng-click="loadCtrl.loadMore({{ srch }})">Load More</button>
            {% endif %}
        {% endif %}
    </div>
  </div>
{% endblock %}