{% import "forms.twig" as forms %}

<!DOCTYPE html>
<html>
<head>
  <title>M4Numbers - {% if title is empty %}{{ general.title }}{% else %}{{ title }}{% endif %}</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="description" content="{% if description is empty %}{{ general.description }}{% else %}{{ description }}{% endif %}" />

  <base href="{{ general.base_location }}" />

  <!-- ****** faviconit.com favicons ****** -->
  <!-- ****** faviconit.com favicons ****** -->
  
  <link rel="stylesheet" type="text/css" href="./assets/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="./assets/css/bootstrap-theme.min.css" />
  <link rel="stylesheet" type="text/css" href="./assets/css/mystyle.css" />
  <link rel="stylesheet" type="text/css" href="./assets/css/sticky_footer.css" />
  <link rel="stylesheet" type="text/css" href="./assets/css/sign_in.css" />

  <script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js" ></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js"></script>
  <script type="text/javascript" src="./assets/js/angular.js" ></script>
  <script type="text/javascript" src="./assets/js/QTransform.js" ></script>
  <script type="text/javascript" src="./assets/js/cyniEss.js" ></script>
  <script type="text/javascript" src="./assets/js/analytics.js"></script>
  <script type="text/javascript" src="./assets/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

  {% block style %}{% endblock %}
</head>
<body>

  <nav class="{% block navbar_carousel %}navbar{% endblock %} navbar-static-top navbar-inverse slots" >
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand no_underline" href="./" >M4Numbers</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="{{ forms.page_test(general.page, "index") }}"><a href="./">Home</a></li>
          <li class="{{ forms.page_test(general.page, "blog") }}"><a href="./blog">Blog</a></li>
          <li class="{{ forms.page_test(general.page, "videos") }}"><a href="./videos">Videos</a></li>
          <li class="{{ forms.page_test(general.page, "development") }}"><a href="./development">Coding</a></li>
          <li class="{{ forms.page_test(general.page, "anime") }}"><a href="./anime">Anime</a></li>
          <li class="{{ forms.page_test(general.page, "manga") }}"><a href="./manga">Manga</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  {% block carousel %}{% endblock %}

  {% block content %}{% endblock %}

  <div class="fake_booster" ></div>

  <div class="big_footer">

    {% block social_content %}
      <div id="social_links" class="center-block social_content">
        <p class="face_button_max right_button">
          <a href="https://facebook.com/M4Numbers" class="social_link face_button"
             style="display: inline-block; width:0;" ></a>
        </p>
        <p class="twit_button_max right_button">
          <a href="https://twitter.com/M4Numbers" class="social_link twit_button"
            style="display: inline-block; width:0;"></a>
        </p>
        <p class="twitch_button_max right_button">
          <a href="https://twitch.tv/m4numbers" class="social_link twitch_button"
            style="display: inline-block; width:0;"></a>
        </p>
        <p class="yt_button_max right_button">
          <a href="https://youtube.com/c/M4NumbersUK" class="social_link yt_button"
            style="display: inline-block; width:0;"></a>
        </p>
      </div>
    {% endblock %}

    <div class="fake_booster"></div>

    <!--<div class="ending" ></div>-->

    <footer class="footer" >
      <div class="container marketing" >
        <div class="row">
          <div class="col-lg-4 outer_left footer_col" >
            General Pages
            <ul>
              <li><a href="./contact" title="Contact Me">Contact Me</a></li>
              <li><a href="./about" title="About Me" >About Me</a></li>
            </ul>
          </div>
          <div class="col-lg-4  footer_col" >
            Other Info
            <ul>
              <li>Created by M4Numbers (&copy; 2014-2016)</li>
              <li>Page Generated in {{ general.time }} seconds</li>
            </ul>
          </div>
          <div class="col-lg-4 outer_right footer_col">
            Site Info
            <ul>
              <li><a href="./admin" title="Admin">Admin</a></li>
              <li><a href="./stats" title="Statistics">Site Statistics</a></li>
              <li><a href="./map" title="Sitemap">Sitemap</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

  </div>

</body>
</html>
