{% extends "master.twig" %}

{% block content %}
    <div class="column">
        <h1>Videos</h1>
        {% if video is empty %}
            <p>
                There is nothing here at the moment. Possibly because there was
                never anything here to begin with, or because everything has gone
                and broken into a million pieces.
            </p>
            <p>
                I'll leave it up to you to decide that.
            </p>
        {% else %}

            <div class="marketing" ng-controller="LoadingController as loadCtrl">
                {% if single == true %}
                    <div class="row row_fix">
                        <div class="col-lg-4 col-lg-push-8">
                            <div class="video">
                                <img class="small_cover img-thumbnail" src="{{ video.thumb }}"
                                     alt="{{ video.title }}"/>
                                <p class="text-right">{{ video.uploader }}</p>
                                <p class="text-right">Published: {{ video.published }}</p>
                                <a href="https://youtu.be/{{ video.video_key }}">
                                    <img class="" src="./assets/images/youtube-logo-full_color.png"
                                         alt="YouTube link" style="width:150px"/>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-8 col-lg-pull-4">
                            <h2>{{ video.title }}</h2>
                            <p>{{ video.description | raw | nl2br }}</p>
                        </div>
                    </div>
                {% else %}
                    {% for v in video %}
                        {% if loop.index0 % 3 == 0 %}
                            <div class="row row_fix">
                        {% endif %}
                        <div class="col-lg-4">
                            <div class="video">
                                <a href="./videos/{{ v.video_key }}">
                                    <img class="small_cover img-thumbnail" src="{{ v.thumb }}" alt="{{ v.title }}"/>
                                    <p class="video_title">{{ v.title }}</p>
                                </a>
                                <p class="video_status">{{ v.uploader }}
                                    <span class="pull-right">Published: {{ v.published }}</span></p>
                            </div>
                        </div>
                        {% if loop.index % 3 == 0 %}
                            </div>
                        {% endif %}
                    {% endfor %}

                    <div ng-hide="loadCtrl.checkContentEmpty()">
                        <!--<anime-template ng-repeat="a in loadCtrl.getAnime()"></anime-template>-->
                        <video-template
                                ng-repeat="n in [].constructor(loadCtrl.getContent().length) track by $index"></video-template>
                    </div>

                    <button class="load_more btn btn-primary btn-lg btn-block"
                            ng-click="loadCtrl.loadMore(302)">Load More
                    </button>
                {% endif %}
            </div>

        {% endif %}
    </div>
{% endblock %}